# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# Logs and other files
*.log
*.tmp
*.swp
*.swo
results.txt # Add results.txt to gitignore as it's an output file
